/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

p {
  margin: 0;
}
ul{
  padding-left: 0;
  margin: 0;
}
h1, h2, h3, h4,h5,h6{
  margin: 0;
  padding: 0;
}
/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

.form_control {
  border: 2px solid #E2E2E2;
  box-sizing: border-box;
  border-radius: 6px;
}

.header {
  background: #FFFFFF;
  box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.13);
  padding: 18px 0;
}

.logotype {
  display: block;
  margin-right: 30px;
}

.header_navigation_wrapper {
  padding-left: 0
}

ul li {
  list-style-type: none;
}

a {
  display: inline-block;
  color: #000;
  text-decoration: none;
}

body {
  font-size: 14px;
  font-family: 'Rubik', sans-serif;
}

.header_navigation_wrapper li {
  margin-right: 35px;
  position: relative;
}

.header_navigation_wrapper li a {
  line-height: 17px;
  text-transform: uppercase;
  color: #202020;
}

.header_navigation_wrapper li a:hover{
  color: #CC2830;
  text-decoration: underline;
  transition: .2s all linear;
}

.header_form_search input[type='text'] {
  height: 40px;
  padding-left: 41px;
  outline: none;
}

.header_form_search input::placeholder {
  font-size: 14px;
  text-transform: uppercase;
  color: #E2E2E2;
}

.header_form_search {
  position: relative;
  margin-right: 40px;
}

.search_form_submit {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-appearance: none;
  border: none;
  background-color: transparent;
  left: 5px;
  pointer-events: all;
  z-index: 2;
  cursor: pointer;
  outline: none;
}

.search_form_submit img {
  opacity: 0.56;
  transition: .3s all linear;
}

.search_form_submit:hover img {
  opacity: 1;
}

.language-dropdown {
  opacity: 0;
  transition: 0.5s linear all;
  pointer-events: none;
  position: absolute;
  top: calc(100% + 40px);
  left: -45%;
  background: #FFFFFF;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
  border-radius: 6px;
  width: 80px;
  text-align: center;
}

.header_cart {
  position: relative;
  cursor: pointer;
}

.header_cart_count {
  display: flex;
  position: absolute;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  border-radius: 50%;
  background: #CC2830;
  color: #FFFFFF;
  width: 18px;
  height: 18px;
  left: 70%;
  top: 3px;
  align-items: center;
  justify-content: center;
}

.header_profile {
  margin-left: auto;
}

.language-selected-text {
  margin-right: 20px;
  cursor: pointer;
  align-items: center;
}

.language-selection-drop-down {
  position: relative;
}

.language-dropdown {
  opacity: 0;
  transition: 0.5s linear all;
  pointer-events: none;
  position: absolute;
  top: calc(100% + 40px);
  left: -45%;
  background: #FFFFFF;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
  border-radius: 6px;
  width: 80px;
  text-align: center;
  z-index: 12;
}

.language-dropdown ul {
  padding-left: 0;
  margin: 0;
  background-color: #fff;
}

.language-dropdown.active {
  opacity: 1;
  pointer-events: all;
}

.language-selected-text-inner {
  padding: 10px;
}

.language-selected-text-inner {
  border-bottom: 1px solid #E2E2E2;
}

.language-selected-text-inner a:hover{
  color: #CC2830;
  text-decoration: underline;
  transition: .2s all linear;
  cursor: pointer;
}

.language-dropdown:after, .dropping__element__wrapper:after,
.shop__dropping-element:after, .quantity-drop-down-wrapper:after{
  content: '';
  display: inline-block;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #fff;
  border-top: 0;
  position: absolute;
  top: -10px;
  left: 31px;
}
.quantity-drop-down-wrapper:after{
  left: 50%;
  transform: translateX(-50%);
}
.header__cart_img {
  background-color: #F7F7F7;
  max-width: 80px;
  width: 80px;
  min-width: 80px;
}

.header__cart_img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.dropping__element__wrapper {
  position: absolute;
  top: calc(100% + 45px);
  background: #FFFFFF;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
  border-radius: 6px;
  right: -55px;
  padding: 27px 24px 64px 24px;
  width: 486px;
}

.inner__cart__title {
  margin: 0;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  color: #202020;
  text-align: center;
  font-weight: normal;
  margin-bottom: 28px;
}

.header_cart_commodity {
  height: 112px;
  border: 1px solid #E2E2E2;
  margin-bottom: 24px;
}

.header__cart_body {
  padding: 15px;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.header__cart_commodity-title {
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #202020;
}

.header__cart_second_col, .header__cart_third_col {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.header__cart_price {
  font-weight: 500;
  font-size: 24px;
  line-height: 24px;
  color: #202020;
}

.header__cart_params input {
  border: 2px solid rgba(0, 0, 0, 0.54);
  width: 48px;
  height: 29px;
  text-align: center;
  outline: none;
}

input::-webkit-inner-spin-button {
  display: none;
}

.header__cart_params {
  display: flex;
  align-items: center;
}

.header__cart_params > * {
  margin-right: 6px;
}

.header__cart_params > *:last-child {
  margin-right: 0;
}

.header__cart_params img {
  cursor: pointer;
}

.header__cart_third_col {
  align-items: flex-end;
}

.header__cart_commodities {
  margin-bottom: 44px;
}

.cart__price__wrapper p {
  margin-bottom: 0;
  font-size: 14px;
  line-height: 24px;
  color: #202020;
  margin-top: 0;
}

.cart__price__wrapper p b {
  font-weight: 500;
  font-size: 24px;
  line-height: 24px;
  color: #202020;
  display: inline-block;
  margin-left: 24px;
}

.default-button {
  padding: 10px 28px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #CC2830;
  border: 2px solid #BE1E2D;
  box-sizing: border-box;
  border-radius: 6px;
}

.default-button:hover{
  background: #CC2830;
  color: white;
  transition: 0.5s;
}

.header__cart__inner:after {
  right: 57px;
  left: auto;
}

.dropping__element__wrapper {
  opacity: 0;
  pointer-events: none;
  transition: 0.5s linear all;
}

.active .dropping__element__wrapper,.active.dropping__element__wrapper  {
  opacity: 1;
  pointer-events: all;
  z-index: 2;
}


.active .shop__dropdown__wrapper, .active.shop__dropdown__wrapper{
  top: 100%;
}
.header__shop__link:hover .shop-dropdown-wrapper{
  opacity: 1;
  pointer-events: all;
}
.shop-dropdown-wrapper{
  opacity: 0;
  pointer-events: none;
  transition: 0.5s linear all;
  position: absolute;
  left: -90px;
  padding: 0;
  top: 100%;
  width: 800px;
  padding-top: 38px;
  z-index: 2;
}
.shop__dropping-element{
  width: 100%;
  display: flex;
  position: relative;
}
.main-banner {
  background-image: url('../img/main/bg.jpg');
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
}

.fixing-category-card {
  background: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.4);
  border-radius: 6px;
}

.fixing-category-card span {
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: #202020;
}

.fixing-category-card {
  padding: 19px 0;
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  justify-content: center;
  transition: .3s all linear;
}

.fixing-category-card:hover{
  cursor: pointer;
  box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.4);
}

.banner-categories-block {
  padding-bottom: 88px;
}

.main-title {
  margin: 0;
  font-size: 36px;
  line-height: 48px;
  text-transform: uppercase;
  color: #202020;
  padding-bottom: 33px;
  font-weight: normal;
}

.main-banner .main-title {
  padding-top: 148px;
  margin: 0;
}

.main_page_banner_text {
  height: 133px;
  padding-bottom: 43px;
}

.main_page_banner_text p {
  font-size: 18px;
  line-height: 32px;
  color: #202020;
}

.small-title {
  margin: 0;
  font-size: 18px;
  line-height: 32px;
  text-transform: uppercase;
  text-align: center;
  color: #202020;
  font-weight: normal;
}

.main-banner .small-title {
  margin-bottom: 29px;
}

.fixing-category-card img {
  margin-bottom: 5px;
}

.main-banner {
  margin-bottom: 42px;
}

.commodity .small-title {
  text-align: center;
  margin-bottom: 30px;
}

.commodity-image-wrapper {
  height: 191px;
  width: 100%;
  background-color: #fff;
}

.commodity-image-wrapper img {
  width: 100%;
}

.commodity-card-body {
  padding: 15px;
  padding-bottom: 27px;
}

.commodity-card-title {
  margin: 0;
  margin-bottom: 10px;
  font-weight: 400;
}

.commodity-default-card {
  background: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.4);
  border-radius: 6px;
}

.commodity-card-parameter img {
  margin-right: 10px;
}

.commodity-card-price {
  font-weight: 500;
  font-size: 24px;
  line-height: 24px;
  color: #202020;
  margin-bottom: 3px;
}

.commodity .swiper-slide {
  width: 282px;
}

main {
  background-color: #fafafa;
}

.commodity .swiper-container{
  padding: 5px;
}


.commodity .swiper-pagination {
  margin-top: 40px;
  position: static;

}
.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  display: inline-block;
  border-radius: 100%;
  background-color: transparent;
  opacity: 1;
  border: 2px solid #cecece;
  outline: none;
  margin: 0 4px;
}

.swiper-pagination-bullet-active {
  background-color: #cecece;
}

.commodity {
  padding-bottom: 30px;
}

.main {
  padding-bottom: 20px;
}

.footer {
  padding-top: 44px;
  padding-bottom: 56px;
  background: #F3F3F3;
}

.footer-logotype {
  display: block;
  margin-bottom: 35px;
}

.footer-item span {
  font-size: 14px;
  line-height: 32px;
  color: #202020;
}

.footer-item img {
  margin-right: 8px;
}

.footer-items-wrapper {
  margin-bottom: 10px;
}

.working-hours p {
  font-size: 14px;
  line-height: 32px;
  color: #202020;
}

.footer-first-column-wrapper {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #E2E2E2;
}

.footer-first-column-wrapper:last-child {
  margin-bottom: 0;
}

.footer ul {
  padding: 0;
}

.footer ul li {
  margin-bottom: 10px;
}

.footer h3 {
  text-align: left;
}
.footer a{
  padding-left: 0;
  transition: .2s all linear;
}
.footer a:hover{
  color: #CC2830;
  text-decoration: underline;
  cursor: pointer;
  padding-left: 5px;
}

.footer-first-column-wrapper:last-child {
  border: none;
}

.social-websites {
  margin-top: 160px;
}

.social-websites a {
  display: inline-block;
  margin-right: 33px;
  transition: .2s all linear;
}


.social-websites a:last-child {
  margin-right: 0;
}

.copyright-links a {
  font-size: 13px;
  line-height: 28px;
  text-align: right;
  color: #FFFFFF;
  margin-right: 20px;
}

.copyright-links a:hover{
  color: #CC2830;
  text-decoration: underline;
  transition: .2s all linear;
  cursor: pointer;
}

.copyright p {
  font-size: 13px;
  line-height: 28px;
  color: #FFFFFF;
}

.copyright {
  background: #7E7E7E;
  padding: 5px 0;
}

.copyright-links a:last-child {
  margin-right: 0;
}

.header-burger {
  display: none;
}

.bread-crumbs {
  padding-top: 40px;
}

.bread-crumb-link, .bread-crumb-link-active {
  font-size: 14px;
  line-height: 24px;
  color: #202020;
  position: relative;
  padding-left: 24px;
}

.bread-crumb-link:first-child {
  padding-left: 0;
}

.bread-crumb-link:after {
  content: '';
  background-image: url('../img/common/breadcrumb.svg');
  width: 24px;
  height: 24px;
  position: absolute;
  left: 100%;
  top: 0;
  display: block;
}

.bread-crumb-link:last-child:after {
  display: none;
}

.bread-crumb-link a:hover{
  color: #CC2830;
  text-decoration: underline;
  cursor: pointer;
  transition: .2s all linear;
}

.auth-container .bread-crumbs {
  margin-bottom: 45px;
}

.login-content h1 {
  text-align: center;
}

.facebook-auth {
  background: #1877F2;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.4);
  border-radius: 4px;
  color: #fff;
}

.outer-service-auth-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}

.login-content {
  max-width: 600px;
  margin: 0 auto;
}

.outer-service-auth {
  width: 48%;
  height: 56px;
  display: flex;
  align-items: center;
  padding: 0 15px;
  font-size: 16px;
}

.outer-service-auth img {
  margin-right: 15px;
}

.google-auth {
  background: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.4);
  border-radius: 4px;
}
.auth_control{
  border: 2px solid #E2E2E2;
  box-sizing: border-box;
  border-radius: 6px;
  width: 100%;
  background-color: #fafafa;
  height: 56px;
  margin-bottom: 24px;
  outline: none;
  padding-left: 28px;
  font-size: 16px;
  line-height: 24px;
  transition: 0.3s linear all;
}
.submit-form{
  cursor: pointer;
  min-width: 136px;
  text-align: center;
  justify-content: center;
  margin: 35px auto 60px;
  background-color: #fafafa;
}
.additional-auth-links{
  margin-top: 60px;
  text-align: center;
}
.additional-auth-links a{
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #202020;
  margin-bottom: 24px;
}
.underlined{
  text-decoration: underline;
}

.underlined:hover{
  color: #CC2830;
  text-decoration: underline;
  transition: .2s all linear;
  cursor: pointer;
}

.checkbox-label input{
  margin-right: 33px;
  -webkit-appearance: none;
  background-image: url('../img/common/checkbox.svg');
  width: 18px;
  height: 18px;
  opacity: 0.54;
  min-width: 18px;
  margin-top: 4px;
  outline: none;
}
.checkbox-label{
  display: flex;
  user-select: none;
  font-size: 16px;
  line-height: 24px;
  color: #202020;
  cursor: pointer;
}
.checkbox-label input:checked{
  background-image: url('../img/common/checkbox-checked.svg');
}
.login-paragraph{
  margin-bottom: 50px;
}
.login-paragraph p{
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #202020;
}
.sidebar{
  padding-left: 15px;
  padding-top: 35px;
}
.sidebar-item img{
  margin-right: 15px;
}

.sidebar-item{
  border-radius: 6px;
  transition: 0.3s linear all;
  margin-bottom: 5px;
  padding-left: 15px;
  padding-top: 9px;
  padding-bottom: 9px;
}
.sidebar-item:hover, .sidebar-item.active {
  background-color: rgba(32, 32, 32, 0.05);
}
.sidebar-item a {
  display: block;
  width: 100%;
  height: 100%;
}
.sidebar-item a span:hover{
  transition: .2s all linear;
  cursor: pointer;
}
.sidebar-item span{
  font-size: 14px;
  text-transform: uppercase;
  color: #202020;
}
.fixing-main-banner .bread-crumbs{
  padding-top: 35px;
  margin-bottom: 48px;
}
.fixing-main-banner h1{
  text-align: center;
  padding-bottom: 116px;
}
.fixing-banner-background{
  content: '';
  position: absolute;
  width: 69vw;
  top: 0;
  left: 0;
  height: 100%;
  background-size: cover;
  z-index: -2;
}
.fixing-main-banner{
  position: relative;
  margin-bottom: 30px;
  z-index: 1;
  padding-left: 15px;
}
.fixing-container{
  overflow-x: hidden;
  margin-bottom: -20px;
}
.fixing-container .main-banner-col{
  max-width: 180px;
}
.fixing-container .main-banner-row{
  justify-content: center;
  margin-bottom: 50px;
  margin-top: 30px;
}
.sidebar{
  z-index: 1;
  position: relative;
}
.sidebar:after{
  content: '';
  position: absolute;
  top: 0;
  background-color: #fff;
  z-index: -1;
  width: 40vw;
  height: 100%;
  right: -15px;
}
.fixing-text-content{
  margin-bottom: 40px;
  text-align: center;
}
.fixing-text-content h3.small-title{
  margin-bottom: 20px;
}
.fixing-company-card{
  background: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.4);
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 145px;
  margin-bottom: 30px;
  transition: 0.3s ease all;
}
.fixing-company-card-row{
  padding-left: 15px;
  padding-top: 30px;
  margin-bottom: 50px;
}
.fixing-company-card.active{
  background-color:#FAFAFA;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
}
.fixing-company-card:hover{
  background-color:#FAFAFA;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
}
.card-title{
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  color: #202020;
  height: 72px;
  margin-bottom: 20px;
}
.fixing-detail-card{
  background: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.4);
  border-radius: 6px;
  max-width: 100%;
  transition: 0.3s ease all;
  margin-bottom: 30px;
}
.fixing-detail-card:hover{
  background: #FAFAFA;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
  border-radius: 6px;
}
.fixing-detail-card-row{
  padding-left: 15px;
}
.fixing-detail-img-wrap{
  max-height: 200px;
  min-height: 200px;
}
.fixing-detail-img-wrap img{
  min-width: 100%;
  min-height: 200px;
  object-fit: cover;
  max-width: 100%;
  max-height: 200px;
}
.card-title{
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  color: #202020;
  font-weight: normal;
}
.fixing-detail-body{
  padding: 23px 15px;
}
.middle-text{
  font-weight: 500;
}
.fixing-detail-details{
  margin-bottom: 20px;
}
.price p{
  font-weight: 500;
  font-size: 24px;
  line-height: 24px;
  color: #202020;
}
.fixing-detail-card-row{
  margin-bottom: 20px;
}
.fixing-inner-child-content{
  text-align: left;
  padding-left: 15px;
}
.fixing-main-banner{
  min-height: 424px;
}
.fixing-main-banner-inner h1{
  text-align: center;
  max-width: 300px;
  margin: 0 auto;
  padding: 0;
  margin-top: 80px;
}
.brand-fixing-container{
  padding-left: 15px;
}
.brand-fixing-container .bread-crumbs{
  margin-bottom: 45px;
}
.brand-fixing-container .main-title{
  text-align: center;
  max-width: 400px;
  margin: 0 auto 68px;
  padding-bottom: 0;
}
.fixing-brand-card-row{
  padding-left: 15px;
}
.fixing-brand-card{
  height: 64px;
  background: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.4);
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  transition: 0.3s ease all;
}
.fixing-brand-card:hover{
  background: #FAFAFA;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
  border-radius: 6px;
}
.fixing-brand-card-row{
  margin-top: 30px;
  margin-bottom: 20px;
}
.position-relative{
  position: relative;
}
.brand-search input{
  padding-left: 40px;
  margin-bottom: 50px;
}
.brand-search{
  max-width: 490px;
  margin: 0 auto;
}
.product-fixing-container .bread-crumbs{
  margin-bottom: 52px;
}
.product-fixing-container {
  padding-left: 15px;
}
.product-fixing-container h1{
  text-align: center;
}
.product-fixing-container .fixing-text-wrapper{
  margin-bottom: 80px;
}
.fixing-details-row-inner{
  margin-top: 50px;
}
.header_form_search input[type='text']:focus{
  transition: 0.3s linear all;
}
.header_form_search input[type='text']:focus{
  border-color: rgba(204, 40, 48, 0.6);
}
.header_profile svg{
  opacity: 0.54;
  fill: #202020;
  transition: 0.5s linear all;
}
.header_profile svg:hover{
  fill: #CC2830;
  opacity: 1;
}
.header_cart svg{
  opacity: 0.54;
  fill: #202020;
  transition: 0.5s linear all;
}
.header_cart:hover svg{
  fill: #CC2830;
  opacity: 1;
}
.social-websites svg{
  fill: #202020;
  transition: 0.3s linear;
}
.social-websites svg:hover{
  fill: #CC2830;
}
.brand-product .bread-crumbs{
  margin-bottom: 35px;
}
.brand-product h1{
  text-align: center;
}
.brand-product .small-title{
  margin-bottom: 30px;
}
.brand-product {
  padding-left: 24px;
}
.fixing-type-for-device-row .fixing-details-card-tick{
  position: absolute;
  right: 20px;
  top: 6px;
  background-color: #fff;
  border-radius: 50%;
  pointer-events: none;
  opacity: 0;
}
.fixing-type-for-device-row .active .fixing-details-card-tick{
  opacity: 1;
  pointer-events: all;
}
.fixing-detail-card{
  transition: 0.3s linear all;
}
.fixing-type-for-device-row .active .fixing-detail-card{
  background: rgba(204, 40, 48, .16);
}
.fixing-inquiry-button{
  width: max-content;
  margin: 50px auto 56px;
}
.additional-commodities-wrapper .commodity-default-card{
  margin-bottom: 24px;
}
.additional-link{
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #CC2830;
}
.additional-link:hover{
  text-decoration: underline;
}
.additional-commodities-wrapper{
  margin-bottom: 51px;
}
.commodity-card-parameter{
  margin-bottom: 10px;
}
.social-websites a:hover {
  padding-left: 0;
}
.shop__dropdown__wrapper{
  left: -90px;
  padding: 0;
  position: absolute;
}
.shop__dropping-element:after{
  left: 111px;
}
.shop__drop__down-tabs-side{
  padding: 20px 36px 20px 12px;
  width: 50%;
  background-color: #fff;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3)
}
.shop__drop__down-tabs-side-container{
  font-size: 14px;
  line-height: 32px;
}
.shop__dropdown__wrapper{
  width: 800px;
  height: 600px;
  display: flex;
}
.shop__drop__down-tabs-side, .shop__drop__down-content-side{
  height: 500px;
  overflow: auto;
  width: 400px;
}
.shop__drop__down-content-side{
  background: rgba(250, 250, 250, 1);
  width: 0px;
  padding: 0;
  transition: 0.3s linear all;
}
.shop__drop__down-content-side.active{
  padding: 20px 20px 0 24px;
  width: 400px;
}
.shop__drop__down-tabs-side-container li {
  margin-right: 0;
  transition: 0.3s linear all;
}
.shop__drop__down-tabs-side-container li:hover{
  border-radius: 6px;
  background-color: rgba(32, 32, 32, 0.05);
}
.shop__drop__down-tabs-side-container li a{
  justify-content: space-between;
  width: 100%;
  height: 100%;
  display: flex;
  padding: 5px;
  align-items: center;
}
.shop__drop__down-tabs-side-container li a:hover{
  text-decoration: none;
  color: #000;
}
.shop__drop__down-content-side-header{
  font-weight: 500;
  font-size: 14px;
  line-height: 32px;
  color: #202020;
  display: flex;
  margin-bottom: 10px;
  cursor: pointer;
}
.shop__drop__down-content-side-header .chevron{
  margin-right: 8px;
}
.shop__drop__down-content-side li a{
  font-size: 14px;
  line-height: 32px;
}
.shop__drop__down-tabs-side-container li.active {
  border-radius: 6px;
  background-color: rgba(32, 32, 32, 0.05);
}
.shop__drop__down-content-side > * {
  display: none;
  min-width: max-content;
}
.shop__drop__down-content-side > .active{
  display: block;
  animation: fadeIn 0.3s linear;
}
.checkbox-label input{
  display: none;
}
.checkbox-label span{
  padding-left: 30px;
}
.checkbox-label{
  position: relative;
}
.login-content .checkbox-label span:before {
  content: '';
  -webkit-appearance: none;
  background-image: url(../img/common/checkbox.svg);
  width: 18px;
  height: 18px;
  opacity: 0.54;
  min-width: 18px;
  position: absolute;
  top: 4px;
  left: 0;
  outline: none;
}
.checkbox-label input:checked ~ span:before {
  background-image: url(../img/common/checkbox-checked.svg);
}

@keyframes fadeIn {
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}
.close_form_search{
  display: none;
}
.shop__drop__down-tabs-side-container li a{
  text-transform: none;
  font-weight: 400;
}
.shop__drop__down-content-side li a{
  text-transform: none;
}


/* width */
.shop__drop__down-tabs-side::-webkit-scrollbar, .shop__drop__down-content-side::-webkit-scrollbar {
  width: 4px;
  background: #fff;
}
/* Track */
.shop__drop__down-tabs-side::-webkit-scrollbar-track,.shop__drop__down-content-side::-webkit-scrollbar-track  {
  background: #f1f1f1;
}

/* Handle */
.shop__drop__down-tabs-side::-webkit-scrollbar-thumb, .shop__drop__down-content-side::-webkit-scrollbar-thumb {
  background: #fff;
}
.shop__drop__down-content-side li a{
  padding-left: 0;
  transition: 0.3s linear all;
}
.shop__drop__down-content-side li a:hover{
  padding-left: 5px;
}
/* Handle on hover */
.shop__drop__down-tabs-side::-webkit-scrollbar-thumb:hover, .shop__drop__down-content-side::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.overflow-hidden {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden !important;
  will-change: unset !important;
}
.shop__dropping-element.active{
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
}
.shop__dropping-element.active .shop__drop__down-tabs-side{
  box-shadow: none;
}
.request-menu-item{
  font-size: 14px;
  line-height: 48px;
  text-transform: uppercase;
  color: #202020;
  opacity: 0.5;
  padding-left: 40px;
  position: relative;
}
.request-menu-item.active{
  opacity: 1;
}
.request-menu-item.active:after{
  background-image: url('../img/tick.svg');
  width: 24px;
  height: 24px;
  position: absolute;
  content: '';
  left: 0;
  top: 10px;
}
.request-right-side{
  padding-left: 39px;
}
.type-of-request-item-img-wrap{
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.type-of-request{
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 2px solid #E2E2E2;
  border-bottom: 2px solid #E2E2E2;
  padding: 30px 0;
  margin-top: 30px;
}
.type-of-request-item{
  margin-right: 65px;
}
.type-of-request-item:last-child{
  margin-right: 0;
}
.type-of-request-item-img-wrap svg{
  stroke: #202020;
}
.type-of-request-item p{
  text-align: center;
}
.request-item{
  margin-bottom: 30px;
}
.request-item .fixing-brand-card-row{
  margin-bottom: 0;
}
.top-card h1.main-title{
  text-align: left;
}
.repair-list{
  margin: 20px 0 20px 20px;
}
.repair-list li{
  list-style: disc;
  line-height: 24px;
}
.color-to-choose{
  width: 32px;
  height: 32px;
  border-radius: 6px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.4);
  margin-bottom: 23px;
}
.banner-categories-block-phone11 .fixing-category-card:hover, .commodity-default-card-short:hover{
  background: #FAFAFA;
  cursor: pointer;
  transition: .3s all linear;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.4) !important;
}
.commodity-card-old-price{
  text-decoration: line-through;
  color: rgba(32, 32, 32, 0.24);
}
.reservation-form{
  background: #ECECEC;
  border-radius: 6px;
  padding: 58px 102px 78px 102px;
}
#reservation-form-tel, #reservation-form-comments, input[type="date"], input[type="time"]{
  width: 100%;
  background: #FAFAFA;
  border: 2px solid #E2E2E2;
  box-sizing: border-box;
  border-radius: 6px;
  padding: 16px 24px;
  resize: none;
}
.reservation-form .col-lg-6 label{
  display: inline-block;
}
.reservation-form .col-lg-6 input[type="radio"]{
  float: left;
}
.bread-crumbs{
  opacity: 0.54;
}
.img-for-tablet, .title-for-tablet, .description-for-tablet, .title-for-mobile{
  display: none;
}
.description-for-tablet{
  font-size: 13px;
  line-height: 24px;
  color: #202020;
  opacity: 0.54;
}
.commodity-default-card-short {
  min-height: 176px;
}
.commodity-default-card-short span {
  color: rgba(32, 32, 32, 0.54);
}
.default-order-radio-wrapper{
  display: flex;
}
.commodity-default-card-short .commodity-card-title{
  height: 100px;
  line-height: 24px;
  .commodity-card-parameter{
    margin-bottom: 20px;
  }
}
.fixing-category-card-img {
  min-height: 78px;
}
.commodity-image-wrapper{
  border-radius: 6px;
}
.commodity-default-card{
  border-radius: 6px;
}
.quantity-input{
  width: 40px;
  height: 19px;
  border: 2px solid #757575;
  outline: none;
  font-size: 14px;
  line-height: 24px;
  color: #202020;
  text-align: center;
}
.commodity-card-additional-price{
  font-size: 14px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #202020;
  opacity: 0.54;
  margin-bottom: 10px;
}
.quantity-view-wrapper{
  label{
    margin-right: 5px;
  }

}
.quantity-drop{
  position: relative;
}
.quantity-drop-down-wrapper{
  position: absolute;
  background: #FFFFFF;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
  border-radius: 6px;
  width: 56px;
  top: 40px;
  text-align: center;
  display: none;
  z-index: 99;
  li{
    height: 39px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #E2E2E2;
    cursor: pointer;
  }
  &.active{
    display: block;
    animation: fadeIn 0.5s linear;
  }

}
.commodity .swiper-container{
  overflow-x: hidden;
  overflow-y: visible;
}
.quantity-trigger-wrapper{
  cursor: pointer;
}
.profile-photo{
  width: 48px;
  height: 48px;
  background: #C4C4C4;
  border-radius: 50%;
}
.profile-name{
  font-weight: 500;
  font-size: 14px;
  text-transform: uppercase;
  color: #202020;
}
.sidebar-profile-overview{
  margin-bottom: 35px;
}
.header_lk_cart{
  margin-left: auto;
}
.header__lk_search{
  margin-left: 50px;
}
.header-lk{
  box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.13);
  z-index: 9;
}
.auth_control:focus{
  border-color: rgba(204, 40, 48, 0.6);
}
.profile-details-photo:hover .profile-change-photo-icon{
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background-color: rgba(204, 40, 48, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  img{
    width: 70px;
  }
}
.password-change a:hover{
  color: #CC2830;
}
.profile-change-photo-icon{
  transition: 0.3s linear all;
  img{
    width: 24px;
    transition: 0.3s linear all;
  }
}

.lk-logotype{
  margin-right: 100px;
}
.lk-container{
  padding-left: 39px;
}
.lk-main{
  padding-bottom: 0;
}
.lk-row > div{
  width: 25%;
}
.lk-table{
  margin-top: 27px;
  padding-bottom: 100px;
}
.lk-row{
  border-bottom: 1px solid #E2E2E2;
  padding-bottom: 20px;
  padding-top: 20px;
  font-size: 14px;
  line-height: 24px;
  transition: 0.3s linear all;
}
.lk-fourth-col{
  text-align: right;
}
.lk-third-col{
  text-align: center;
}
.lk-row:last-child{
  border-bottom: 0;
}
.lk-first-row {
  text-transform: uppercase;
  font-size: 18px;
  line-height: 32px;
}
.lk-tabs-wrapper > *{
  display: none;
}
.lk-tabs-wrapper > *.active{
  animation: fadeIn 0.3s linear;
  display: block;
}
.profile-details{
  display: flex;
  align-items: center;
}
.profile-details-photo{
  width: 180px;
  height: 180px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  margin-right: 24px;
  background-color:#C4C4C4;
  position: relative;
  overflow: hidden;
}
.lk-personal-data{
  padding-top: 40px;
}
.password-change div{
  font-size: 18px;
  line-height: 48px;
  text-transform: uppercase;
  color: #202020;
  margin-bottom: 30px;
}
.password-change a{
  font-size: 14px;
  line-height: 24px;
  text-decoration: underline;
  color: #202020;
}
.profile-change-photo-icon{
  position: absolute;
  top: 90%;
  transform: translate(-50%, -50%);
  left: 50%;
  cursor: pointer;
}
.profile-details-name{
  font-size: 36px;
  line-height: 48px;
  text-transform: uppercase;
  color: #202020;
  max-width: 350px;
}
.profile-first-row{
  margin-bottom: 30px;
}
.radio-buttons-row .radio-type{
  margin-right: 35px;
  display: flex;
  align-items: center;
}
.textarea-label textarea{
  resize: none;
  height: 112px;
  padding-top: 10px;
}
.lk-tabs-wrapper h3{
  margin-bottom: 31px;
}
.radio-buttons-row{
  margin-bottom: 50px;
}
.profile-data-item{
  margin-bottom: 50px;
}
.lk-submit-button{
  background: #FFFFFF;
  margin: 0 auto 78px;
  cursor: pointer;
  padding: 10px 35px;
}
.address-drop-down-trigger{
  border: 2px solid #E2E2E2;
  box-sizing: border-box;
  border-radius: 6px;
  height: 56px;
}
.address-drop-down{
  opacity: 0;
  pointer-events: none;
  position: absolute;
  transition: 0.3s linear all;
  width: 100%;
  background-color: #EFEFEF;
}
.address-drop-down.active{
  pointer-events: all;
  opacity: 1;
}
.address-drop-down-wrapper{
  margin-bottom: 24px;
  position: relative;
}
.address-drop-down-trigger{
  display: flex;
  align-items: center;
  padding-left: 28px;
  cursor: pointer;
}
.address-drop-down-trigger img{
  position: absolute;
  right: 28px;
  top: 50%;
  transform: translateY(-50%);
}
.address-drop-down-trigger{
  position: relative;
}
.profile-data{
  width: 588px;
  margin: 0 auto;
}
.address-drop-down-wrapper{
  position: relative;
}
.address-drop-down li{
  padding-left: 28px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #E2E2E2;
  cursor: pointer;
}
.radio-type input{
  width: 20px;
  height: 20px;
  -webkit-appearance: none;
  background-color: transparent;
  border: 2px solid #848484;
  margin-right: 10px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  outline: none;
}
.radio-type span{
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #202020;
}
.radio-type input:checked ~ span:after {
  position: absolute;
  content: '';
  width: 10px;
  height: 10px;
  background-color: #848484;
  border-radius: 50%;
  left: 5px;
  top: 7px;
}
.radio-type{
  position: relative;
  cursor: pointer;
}
.lk-arrow-back{
  svg{
    margin-right: 5px;
  }
  span{
    font-size: 14px;
    line-height: 32px;
    color: #848484;
  }
}
.lk-arrow-back {
  margin-bottom: 20px;
  display: none !important;
  cursor: pointer;
}
.lk-order-arrow-back{
  display: flex !important;
  margin-top: 40px;
  margin-bottom: 20px;
  cursor: pointer;
  width: max-content;
}
.lk-order-arrow-back span{
  transition: .3s linear all;
}
.lk-order-arrow-back:hover span{
  color: #CC2830;
}
.lk-inner-row .small-title:first-child{
  margin-right: 35px;
}
.lk-inner-card{
  border: 1px solid #E2E2E2;
  height: 112px;
  align-items: center;
  margin-bottom: 20px;
}
.lk-input-wrapper input{
  border: 2px solid rgba(0, 0, 0, 0.54);
  width: 48px;
  height: 29px;
  text-align: center;
  outline: none;
  background-color: transparent;
}
.lk-card-title{
  max-width: 460px;
  height: 55px;
  margin-bottom: 5px;
}
.lk-text-wrapper {
  margin-right: 15px;
}
.lk-card-link{
  font-size: 14px;
  line-height: 24px;
  text-decoration-line: underline;
  color: #CC2830;
  opacity: 0.54;
  transition: 0.3s linear all;
}
.lk-card-link:hover{
  opacity: 1;
}
.lk-card-cost{
  margin: 0 auto;
  font-weight: 500;
  font-size: 24px;
  line-height: 24px;
  color: #202020;
}
.lk-inner-card-image-wrap{
  margin-right: 20px;
}
.lk-inner-card:last-child{
  margin-bottom: 60px;
}
.lk-inner-card-image-wrap{
  height: 108px;
  img{
    max-width: 100%;
    max-height: 100%;
  }
}

.lk-inner-table-container{
  display: block;
}
.lk-order-arrow-back svg{
  margin-right: 10px;
  transition: 0.3s linear all;
}
.lk-order-arrow-back:hover svg{
  margin-right: 15px;
}
.header-burger.open:after{
  content: '';
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: rgba(0, 0, 0, .15);
}
.mobile-social-links{
  display: none;
}
.brand-product .fixing-inner-child-content{
  padding-left: 0;
}
.brand-product .fixing-type-for-device-row{
  padding-bottom: 40px;
}
.market-sorting-trigger{
  margin-right: 37px;
}
.market_sorting svg{
  opacity: 0.54;
  transition: 0.3s linear all;
}
.market-sorting-trigger span{
  transition: 0.3s linear all;
}
.market_sorting{
  svg:hover{
    opacity: 1;
    fill: #CC2830;
  }
  .market-sorting-trigger:hover svg{
    opacity: 1;
    fill: #CC2830;
  }
  .market-sorting-trigger:hover span{
    text-decoration: underline;
    color: #CC2830;
  }
}
.sidebar-search input{
  height: 40px;
  background-color: #fff;
  padding-left: 40px;
}
.sidebar-search input::placeholder{
  text-transform: uppercase;
  font-size: 14px;
}
.footer .footer-logotype:hover{
  padding-left: 0;
}
.cost-filter-trigger p{
  margin-bottom: 0;
  font-size: 14px;
  text-transform: uppercase;
  color: #202020;
}
.cost-filter-trigger{
  margin-bottom: 26px;
  cursor: pointer;
}
.range-inputs-wrapper input{
  border-radius: 6px;
  border: 2px solid #E2E2E2;
  width: 78px;
  height: 40px;
  outline: none;
  padding-left: 12px;
}
.range-inputs-wrapper label span{
  margin-right: 10px;
}
.filter-el{
  margin-bottom: 0px;
  transition: 0.5s linear all;
}
.filter-el.active{
  margin-bottom: 20px;
}
.cost-slider{
  margin-bottom: 25px;
}
.noUi-connect{
  background: #CC2830;
}
.noUi-horizontal .noUi-handle {
  width: 12px;
  height: 12px;
  right: -7px;
  top: -6px;
  background: #CC2830;
  box-shadow: none;
  border-radius: 50%;
  border: none;
  outline: none;
}
.noUi-handle:before, .noUi-handle:after{
  display: none;
}
.noUi-target{
  border: none;
}
.sidebar .checkbox-label{
  margin-bottom: 10px;
  span{
    font-size: 14px;
    transition: 0.3s linear all;
  }
}
.checkbox-label:hover{
  span{
    text-decoration: underline;
  }
}
.sorting-pages .sorting{
  margin-right: 90px;
}
.sorting-pages{
  padding: 15px 0;
  border-top: 1px solid #E2E2E2;
}
.muted{
  opacity: 0.54;
}
.sorting-controller .sorting-filter .dropping__element__wrapper{
  top: 130%;
  width: 100%;
  right: 0;
  left: 0;
  padding: 0;
  opacity: 0;
  z-index: -2;
  pointer-events: none;
}
.sorting-controller .sorting-filter .dropping__element__wrapper.active{
  opacity: 1;
  z-index: 1;
  pointer-events: all;
}
.sorting-controller .sorting-filter .sorting-filter-content:after{
  left: 50%;
  transform: translateX(-50%);
}
.sorting-filter{
  position: relative;
}
.sorting-filter-content-changers{
  padding: 12px;
  text-align: center;
  border-bottom: 1px solid #E2E2E2;
}
.sorting-filter-trigger{
  cursor: pointer;
}
.shop-main-wrapper{
  .bread-crumbs{
    margin-bottom: 17px;
  }
}
.sorting-controller{
  max-height: 0;
  overflow: hidden;
  transition: 0.7s linear all;
}
.collapsing-control.active .sorting-controller{
  overflow: visible;
}
.collapsing-control{
  margin-bottom: 30px;
}
.additional-commodities-wrapper .commodity-default-card{
  box-sizing: content-box;
}
.filter-content{
  max-height: 0;
  opacity: 0;
  transition: 0.5s linear all;
  overflow: hidden;
}
.filter-el img{
  transition: 0.5s linear all;
}
.filter-el.active {
  .filter-content{
    overflow: visible;
    opacity: 1;
  }
  img{
    transform: rotate(-90deg);
  }
}
