@media (max-width: 1200px) {
  .header_navigation_wrapper li {
    margin-right: 15px;
  }
  .commodity .swiper-container{
    width: auto;
    margin-left: 0;
  }
  .logotype {
    margin-right: 15px;
  }

  .header_form_search {
    margin-right: 15px;
  }

  .header_form_search input[type='text'] {
    padding-left: 35px;
    width: 170px;
  }
  .commodity-default-card-short {
    min-height: 182px;
  }
  .commodity-card-body .default-button{
    padding: 10px 8px;
  }
  .commodity-default-card-list .commodity-card-title{
    max-width: 220px;
    margin-right: 40px;
  }
}

@media (max-width: 991px) {
  .commodity-slider{
    display: none;
  }
  .commodity-no-slider{
    display: block;
  }
  .brand-product {
    padding-left: 0px;
  }
  .mobile-social-links{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 5px;
    .mobile-social-link:first-child{
      margin-right: 77px;
    }
  }
  .mobile-social-link svg{
    fill: #202020;
  }
  .profile-first-row > .d-flex{
    flex-wrap: wrap;
  }
  .profile-details-name{
    max-width: none;
  }
  .profile-details-name{
    font-size: 28px;
    line-height: 40px;
  }
  .profile-photo{
    min-width: 48px;
    margin-right: 15px;
  }
  .profile-name{
    line-height: 24px;
  }
  .password-change a{
    display: block;
    text-align: center;
    margin: 14px auto;
  }
  .profile-data{
    width: auto;
  }
  .sidebar-item{
    padding-left: 5px;
  }
  .profile-details-photo{
    max-width: 126px;
    max-height: 126px;
    min-width: 126px;
    min-height: 126px;
  }
  .password-change div{
    display: none;
  }
  .password-change{
    width: 100%;
  }
  .shop-dropdown-wrapper{
    width: 304px;
    position: static;
    display: flex;
    margin-left: -15px;
    padding-top: 0;
    max-height: 0;
    transition: 0.7s linear all;
    overflow: hidden;
  }
  .shop__dropping-element:after{
    display: none;
  }
  .header__shop__link:hover .shop-dropdown-wrapper{
    opacity: 0;
    pointer-events: none;
  }
  .header__shop__link.active .shop-dropdown-wrapper{
    opacity: 1;
    overflow: visible;
    pointer-events: all;
  }
  .shop__dropping-element li a{
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: #202020;
  }
  .sidebar {
    display: none;
  }

  .fixing-main-banner:after {
    left: -45px;
    width: 100vw;
  }

  .header-burger {
    display: block;
  }

  .header-burger img:last-child {
    display: none;
  }

  .header-burger.open img:last-child {
    display: block;
  }

  .header-burger.open img:first-child {
    display: none;
  }

  .header_navigation {
    position: fixed;
    left: 0;
    top: 0;
    background-color: #fff;
    width: 304px;
    height: 100%;
    z-index: 3;
    transform: translateX(-100%);
    transition: 0.3s ease all;
  }

  .header_navigation.active {
    transform: translateX(0);
  }

  .header_navigation_wrapper {
    margin: 0;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start !important;
    padding-left: 16px;
    padding-top: 56px;
    padding-right: 16px;
  }

  .language-selection-drop-down {
    padding-left: 40px;
    position: relative;
  }
  .language-selected-text img{
    margin-left: 2px;
  }
  .language-selection-drop-down:before {
    content: '';
    position: absolute;
    left: 0;
    top: 1px;
    background-image: url('../img/lang.svg');
    width: 24px;
    height: 24px;
    opacity: 0.54;
  }

  .language-dropdown {
    left: 0px;
    top: 150%;
  }

  .header_navigation_wrapper li {
    margin-right: 0px;
    width: 100%;
    line-height: 56px;
    border-bottom: 1px solid #E2E2E2;
  }

  .header_navigation_wrapper .language-wrapper {
    margin-bottom: 30px;
    line-height: 1;
    border-bottom: 0;
  }

  .overflow-js {
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }

  .header-burger {
    margin-right: 27px;
  }

  .header_form_search {
    margin-left: auto;
  }

  .header_profile {
    margin-left: 30px;
  }

  .header_cart {
    margin-left: 20px;
  }

  .header_form_search {
    margin-right: 0px;
  }

  .header_form_search input[type='text'] {
    width: 0;
    border: 0;
    transition: 0.5s linear all;
  }

  .search_form_submit {
    pointer-events: all;
    outline: none;
  }

  .header_form_search.active input[type='text']{
    width: 170px;
    border: 2px solid #E2E2E2;
  }

  .main-banner .main-title {
    padding-top: 84px;
    padding-bottom: 22px;
    max-width: 410px;
  }

  .main_page_banner_text p {
    max-width: 330px;
  }

  .main-banner-col {
    max-width: 180px;
  }

  .main-banner-row {
    justify-content: center;
  }

  .banner-categories-block {
    padding-bottom: 78px;
    margin-top: 66px;
  }

  .main-banner {
    background-position: 45%;
    background-size: 250%;
  }

  .commodity .swiper-slide {
    width: 205px;
    margin-bottom: 24px;
  }

  .commodity-image-wrapper {
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .commodity-image-wrapper img {
    height: 90%;
    object-fit: contain;
  }

  .commodity .swiper-wrapper {
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .commodity-card-parameter {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 18px;
  }

  .commodity-card-parameter span {
    display: block;
  }
  .commodity-card-parameter{
    align-items: center;
  }
  .commodity-default-card .default-button {
    width: 100%;
    justify-content: center;
    padding: 10px 8px;
  }

  .commodity {
    padding-bottom: 40px;
  }

  .commodity .swiper-pagination {
    display: none;
  }

  .social-websites {
    margin-top: 40px;
  }

  .footer-first-cols-wrap {
    display: flex;
    justify-content: space-between;
  }

  .footer-first-column-wrapper {
    width: 45%;
  }

  .fixing-main-banner h1 {
    padding-bottom: 86px;
  }
  .fixing-main-banner{
    z-index: 2;
  }
  .fixing-banner-background {
    position: absolute;
    width: 101vw;
    top: 0;
    left: -45px;
    height: 100%;
    z-index: 0;
    object-fit: cover;
  }

  .fixing-brand-card-row {
    padding-left: 0px;
  }

  .fixing-company-card-row, .fixing-detail-card-row, .fixing-inner-child-content {
    padding-left: 0;
  }

  .brand-fixing-container {
    padding-left: 0px;
  }

  .product-fixing-container {
    padding-left: 0px;
  }
  .fixing-type-for-device-row {
    padding-left: 0;
  }
  .shop__dropdown__wrapper {
    width: 304px;
    position: static;
    height: auto;
    display: flex;
    margin-left: -15px;
  }
  .shop__drop__down-tabs-side{
    height: unset;
    width: 100%;
    padding: 10px;
  }
  .shop__drop__down-content-side{
    display: none;
  }
  .dropping__element__wrapper{
    display: none;
    box-shadow: none;
  }
  .active .dropping__element__wrapper, .active.dropping__element__wrapper{
    display: block;
  }
  .shop__drop__down-tabs-side-container li a{
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: #202020;
  }
  .shop__drop__down-tabs-side-container li a{
    padding-right: 20px;
  }
  .shop__drop__down-tabs-side-container li{
    border: none;
  }
  .shop__drop__down-tabs-side-container li a svg{
    display: none;
  }
  .header_navigation_wrapper li a{
    display: flex;
    align-items: center;
    height: 57px;
  }
  .header_navigation_wrapper .language-selected-text-inner a{
    height: 20px;
  }
  .shop__drop__down-tabs-side-container li a{
    padding-right:100px;
  }
  .shop__drop__down-tabs-side-container li.active{
    background-color: transparent;
  }
  .shop__drop__down-tabs-side{
    box-shadow: none;
  }
  .shop__dropping-element.active{
    box-shadow: none;
  }
  .shop__drop__down-content-side {
    display: block;
    z-index: 9;
    position: absolute;
    transform: translateX(-100%);
    margin-left: 0;
    background-color: #fff;
    top: 0;
    left: 0;
    width: 304px;
    transition: none;
    padding: 0 0 0 14px;
  }
  .shop__drop__down-content-side.active{
    animation: fromLeftToRight 0.5s linear;
    transform: translateX(0);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background: #fff;
    overflow: unset;
  }
  .shop__drop__down-content-side-header{
    padding-right: 50px;
    line-height: 24px;
    cursor: pointer;
    max-width: 280px;
    padding-top: 46px;
    margin-bottom: 0;
    padding-bottom: 8px;
  }
  .shop__drop__down-content-side > *{
    left: 0;
    top: 0;
    padding-left: 15px;
    padding-top: 10px;
    overflow: hidden;
    bottom: 0;
    right: 0;
    position: relative;
  }
  .shop__drop__down-content-side.active ul {
    overflow-y: scroll;
    background: #fff;
    will-change: transform;
    -webkit-overflow-scrolling: touch;
    z-index: 9999;
    position: absolute;
    height: 100%;
    width: 100%;
    padding-right: 15px;
    top: 0;
    left: 0;

  }
  .menu-wrap{
    position: relative;
    width: 100%;
    height: 100%;
    flex: 1;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    -ms-flex: 1;
  }
  .shop__drop__down-content-side{
    padding: 20px 20px 0 0;
  }
  .header__shop__link:after{
    content: '';
    position: absolute;
    top: 26px;
    transform: translateY(-50%);
    background-image: url(../img/common/chevron-down.svg);
    width: 24px;
    height: 24px;
    display: block;
    right: 20px;
    transition: 0.3s linear all;
    z-index: -1;
  }
  .header__shop__link.active:after{
    transform: rotate(-90deg) translate(10px, 0px);
  }
  .header_navigation_wrapper{
    overflow-y: auto;
    background: #fff;
    will-change: transform;
    -webkit-overflow-scrolling: touch;
    height: 100%;
    overflow-x: hidden;
    transition: 0.5s linear all;
  }
  html{
    cursor: pointer;
  }
  .shop__dropdown__wrapper:after{
    display: none;
  }
  .fixing-inquiry-button{
    margin: 20px auto 26px;
  }
  .img-for-tablet, .description-for-tablet{
    display: block;
  }
  .img-for-pc, .description-for-pc, .top-card-hide, #reservation-form-comments, .commodity-hide {
    display: none;
  }
  .title-for-tablet{
    display: block;
    padding-bottom: 10px;
  }
  .title-for-pc{
    display: none;
  }
  .repair-list {
    margin: 5px 0 10px 20px;
  }
  .repair-list li {
    list-style: disc;
    line-height: 22px;
    font-size: 12px;
  }
  .commodity-card-title {
    font-size: 11px;
  }
  .commodity-default-card-short {
    min-height: 157px;
  }
  .commodity .swiper-slide {
    padding: 0 8px;
  }
  .reservation-form{
    padding: 42px 66px 62px 66px;
    margin-bottom: 80px;
  }
  .commodity-default-card-short .commodity-card-title{
    height: auto;
  }
  .service-inner-commodity{
    display: none;
  }
  .quantity-input{
    width: 35px;
  }
  .header_lk_cart span{
    display: none;
  }
  .header_lk_profile span{
    display: none;
  }
  .lk-sidebar{
    display: block;
  }
  .lk-table{
    min-width: 600px;
  }
  .lk-table-wrapper{
    overflow: scroll;
  }
  .sidebar:after{
    width: 50vw;
  }
  .sidebar-item img {
    margin-right: 10px;
  }
  .lk-inner-sidebar{
    display: none;
  }
  .shop__drop__down-content-side > .active{
    display: flex;
    -webkit-animation: fadeIn 0.3s linear;
    animation: fadeIn 0.3s linear;
    flex-direction: column;
    height: 100%;
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    z-index: 9999;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    background: #fff;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding-left: 0;
  }
  .header__cart__inner{
    display: none !important;
  }
  .sorting-controller{
    overflow: visible;
    max-height: none;
  }
  .market-sorting-trigger{
    display: none;
  }
  .market-filtering-trigger{
    display: block;
  }
  .shop-sidebar{
    position: fixed;
    left: 0;
    display: block;
    top: 0;
    height: 100%;
    background-color: #fff;
    width: 304px;
    transform: translateX(-100%);
    transition: 0.5s linear all;
    padding: 0;
    z-index: 3;
    &.active{
      transform: translateX(0);
    }
  }

  .shop-sidebar-wrapper{
    display: flex;
    flex-direction: column;
    padding-left: 15px;
    padding-top: 35px;
    padding-right: 15px;
    height: 100%;
  }

  .shop-sidebar-inner-wrap {
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow-y: auto;
    width: 100%;
    height: 100%;
    background: #fff;
    will-change: transform;
    -webkit-overflow-scrolling: touch;
    padding-left: 15px;
    padding-top: 35px;
    padding-right: 15px;
  }

  .shop-sidebar:after{
    display: none;
  }
  .cancel-filters{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 25px;
    span{
      font-size: 14px;
      line-height: 24px;
      color: #000000;
      opacity: 0.54;
      margin-right: 16px;
    }
  }
  .sidebar-search{
    display: none;
  }
  .shop-main-wrapper .bread-crumbs{
    padding-top: 47px;
  }
  .market_sorting-wrapper{
    position: relative;
    top: 16px;
  }
  .commodity-default-card-list .default-button{
    width: 36px;
  }
  .commodity-default-card-list .commodity-card-title{
    font-size: 13px;
  }
  .commodity-default-card-list .commodity-list-buttons{
    margin: auto;
  }
  .commodity-list-characters .commodity-card-parameter{
    margin-bottom: 5px;
  }

}

@media (max-width: 767px) {
  .sorting-pagination{
    display: none;
  }
  .sorting-pages .sorting{
    margin-right: 0;
  }
  .sorting-filter-row{
    justify-content: space-between;
    width: 100%;
  }
  .fixing-main-banner {
    min-height: 264px;
    max-height: 264px;
  }
  .fixing-main-banner-inner h1{
    margin-top: 35px;
  }
  .sidebar:after{
    display: none;
  }
  .profile-details-name{
    font-size: 14px;
    font-weight: 500;
  }
  .profile-data-item {
    margin-bottom: 20px;
  }
  .radio-type span{
    text-align: left;
  }
  .radio-type input{
    min-width: 20px;
    margin-right: 17px;
    position: relative;
    top: 4px;
  }
  .radio-buttons-row .radio-type{
    align-items: flex-start;
  }
  .radio-type input:checked ~ span:after{
    left: 5px;
    top: 9px;
  }
  .lk-main{
    min-height: 300px;
  }
  .lk-sidebar{
    z-index: 0;
    position: absolute;
  }
  .lk-main.active .lk-container{
    background-color: #fafafa;
  }
  .lk-personal-data {
    padding-top: 20px;
  }
  .lk-table-wrapper{
    padding-top: 0;
  }
  .lk-table-container{
    padding-top: 20px;
  }
  .lk-table{
    margin-top: 0px;
  }
  .lk-first-row{
    padding-top: 0;
  }
  .lk-tabs-wrapper > *{
    display: none;
  }
  .lk-tabs-wrapper > *.active{
    display: block;
    animation: fadeIn 0.5s linear;
  }
  .lk-tabs-wrapper .lk-inner-table-container{
    display: block;
  }
  .lk-table{
    padding-bottom: 50px;
  }
  .address-drop-down-trigger{
    background-color: #fafafa;
  }
  .lk-profile-bread-crumbs{
    display: none;
  }
  .profile-photo{
    margin-right: 30px;
  }
  .lk-container {
    padding-left: 15px;
  }
  .commodity-card-body{
    padding-bottom: 20px;
  }
  .profile-overview{
    justify-content: flex-start !important;
  }
  .fixing-main-page-banner .fixing-banner-background{
    display: none;
  }
  .shop__drop__down-tabs-side{
    padding-top: 0;
  }
  .bread-crumbs .bread-crumb-link-prev{
    padding-left: 24px;
  }
  .fixing-main-banner .bread-crumbs{
    margin-bottom: 30px;
  }
  .fixing-main-page-banner{
    height: auto;
    min-height: auto;
  }
  .header_form_search.active{
    position: absolute;
    z-index: 9;
    width: 90%;
    max-width: 500px;
  }
  .header-burger{
    height: 40px;
    display: flex;
    align-items: center;
  }
  .header_form_search input[type='text']{
    transition: none;
  }
  .search_form_submit{
    cursor: pointer;
  }
  .header_form_search input[type='text']{
    padding-left: 45px;
  }
  .header{
    position: relative;
  }
  .header_form_search.active input[type='text']{
    display: block;
    width: 100%;
    z-index: 9;
    height: 48px;
  }
  .checkbox-label input{
    -webkit-appearance: none;
  }
  .header-burger {
    margin-right: 15px;
  }
  .logotype img{
    object-fit: cover;
    max-width: 100%;
  }
  .main-banner .main-title {
    padding-top: 38px;
  }

  .main-banner {
    -webkit-background-size: cover;
    background-size: cover;
  }

  .banner-categories-block {
    padding-bottom: 35px;
    margin-top: 30px;
  }

  .main-banner-row {
    justify-content: flex-start;
  }

  .main-banner-col {
    padding: 0 8px;
    margin-bottom: 16px;
  }

  .main-banner {
    background-position: 40%;
  }

  .commodity .swiper-slide {
    width: 156px;
  }

  .commodity .swiper-slide {
    width: 48%;
    padding: 0 0px;
    margin-right: 0;
  }

  .commodity .swiper-wrapper {
    justify-content: space-between;
  }

  .footer-first-column-wrapper {
    width: 100%;
  }

  .footer-first-cols-wrap {
    flex-wrap: wrap;
  }

  .social-websites a {
    margin-right: 60px;
  }

  .social-websites {
    margin-top: 40px;
    justify-content: center;
    display: flex;
  }

  .copyright-links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .copyright .d-flex {
    flex-wrap: wrap;
  }

  .main-title {
    font-size: 28px;
    line-height: 40px;
  }

  .main_page_banner_text p {
    font-size: 16px;
    line-height: 24px;
  }

  .banner-categories-block {
    margin-top: 0;
  }

  .main_page_banner_text {
    height: auto;
  }

  .main-banner-col {
    max-width: 155px;
  }

  .logotype {
    margin-right: 0px;
    max-width: 140px;
    min-width: 120px;
  }

  .main-banner-row {
    padding-left: 15px;
    padding-right: 15px;
  }

  .header__cart__inner.active {
    display: none;
  }

  .outer-service-auth-wrapper {
    flex-wrap: wrap;
    margin-bottom: 0;
  }

  .outer-service-auth {
    width: 100%;
    margin: 0 0 15px 0;
  }

  .checkbox-label input {
    margin-right: 15px;
    margin-top: 5px;
  }

  .language-dropdown {
    left: 0px;
    top: 150%;
  }

  .header_navigation_wrapper .language-selected-text-inner {
    line-height: 1;
  }

  .fixing-main-banner h1 {
    display: none;
  }
  .fixing-main-banner-inner h1{
    display: block;
  }
  .fixing-main-banner:after {
    display: none;
  }

  .fixing-container .main-banner-row {
    justify-content: flex-start;
  }

  .fixing-container .main-banner-col {
    max-width: 50%;
  }

  .fixing-links-wrapper {
    display: flex;
    flex-direction: column;
  }

  .fixing-links-wrapper {
    visibility: hidden;
  }

  .fixing-links-wrapper a {
    visibility: visible;
  }

  .fixing-company-card-row > * {
    padding: 0 8px;
  }

  .fixing-company-card {
    height: 80px;
    margin-bottom: 16px;
  }

  .fixing-company-card img {
    max-width: 70%;
    max-height: 60%;
  }

  .fixing-detail-card {
    width: 100%;
  }

  .card-title {
    height: auto;
    margin-bottom: 15px;
  }

  .fixing-banner-background {
    left: -15px;
  }

  .bread-crumb-link {
    display: none;
  }

  .bread-crumb-link-active {
    display: none;
  }

  .bread-crumb-link-prev {
    display: block;
  }

  .bread-crumb-link:after {
    left: 0;
    display: block;
    transform: rotate(180deg);
  }
  .commodity-default-card .default-button {
    font-size: 0;
    background-image: url(../img/common/shopping-cart.svg);
    background-position: center;
    background-repeat: no-repeat;
  }
  .commodity-default-card .default-button{
    width: 36px;
    height: 36px;
    max-width: 36px;
    max-height: 36px;
    box-sizing: border-box;
    padding: 0;
    background-size: 22px;
  }
  .commodity-card-parameter{
    margin-bottom: 7px;
  }
  .commodity-card-title{
    font-size: 13px;
    line-height: 20px;
  }
  .commodity-image-wrapper{
    max-height: 112px;
  }
  .header_navigation_wrapper .language-selected-text-inner a{
    height: 20px;
  }
  .language-selection-drop-down{
    max-width: max-content;
  }
  .header_form_search.active {
    position: absolute;
    z-index: 9;
    width: 92%;
    top: 14px;
  }
  .close_form_search {
    border: none;
    outline: none;
    background-color: transparent;
    position: absolute;
    right: 10px;
    top: 11px;
  }
  .header_form_search.active .close_form_search{
    display: block;
  }
  .title-for-mobile{
    display: block;
  }
  .title-for-tablet, .color-hide{
    display: none;
  }
  .img-for-tablet{
    margin-bottom: 23px;
  }
  .to-wide{
    width: 100% !important;
  }
  .reservation-form {
    padding: 42px 15px 78px 15px;
  }
  .commodity-default-card-short{
    margin-bottom: 16px;
    .commodity-card-parameter{
      margin-bottom: 20px;
    }
    .commodity-card-title{
      margin-bottom: 19px;
    }
  }
  .lk-arrow-back{
    display: flex !important;
  }
  .profile-details-photo {
    max-width: 48px;
    max-height: 48px;
    min-width: 48px;
    min-height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .profile-change-photo-icon{
    position: static;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translate(0%, 0%);
  }
  .profile-details-photo:hover .profile-change-photo-icon{
    position: static;
    transform: translate(0%, 0%);
  }
  .lk-order-arrow-back{
    margin-top: 0;
  }
  .lk-inner-row{
    flex-wrap: wrap;
  }
  .lk-tabs-wrapper h3 {
    margin-bottom: 24px;
  }
  .lk-inner-card{
    height: auto;
    flex-wrap: wrap;
    padding-bottom: 16px;
  }
  .lk-inner-card-image-wrap {
    height: 70px;
    width: 22%;
    margin-bottom: 30px;
    position: relative;
    bottom: 7px;
  }
  .lk-text-wrapper{
    max-width: 65%;
    margin-bottom: 25px;
  }
  .lk-input-wrapper{
    margin: 0 auto;
  }
  .lk-inner-card{
    margin-bottom: 16px;
  }
  .lk-card-title{
    margin-top: 5px;
  }
  .quantity-drop-down-wrapper{
    width: 43px;
  }
  .footer-items-wrapper {
    justify-content: flex-start !important;
    .footer-item:nth-child(1){
      margin-right: 40px;
    }
  }
  .commodity-default-card-list{
    flex-wrap: wrap;
    padding: 15px;
  }
  .commodity-default-card-list .commodity-card-title{
    margin-right: 0;
  }
  .commodity-list-characters .commodity-card-parameter {
    margin-bottom: 15px;
  }
  .commodity-default-card-list .commodity-list-buttons {
    margin: auto auto 10px auto;
  }
  .commodity-default-card-list .commodity-list-characters{
    margin-top: 15px;
  }


}

@media (max-width: 360px) {
  .logotype img {
    width: 100%;
  }

  .header-burger {
    margin-right: 20px;
  }

  .header_cart {
    margin-left: 10px;
  }

  .header_profile {
    margin-left: 15px;
  }

  .header_cart_count {
    display: none;
  }

  .commodity-card-title {
    font-size: 13px;
    word-break: break-word;
  }

  .commodity-card-price {
    font-size: 20px;
  }

  .default-button {
    padding: 10px 5px;
  }
  .lk-submit-button{
    padding: 10px 35px;
  }
  .profile-details-photo:hover .profile-change-photo-icon img {
    width: 30px;
  }
  .radio-buttons-row .radio-type{
    margin-right: 10px;
  }
  .radio-type span{
    line-height: 20px;
  }

}
